@page "/"


<h1>Welcome to Checkmarx Restaurant</h1>

Select Menu <a href="CreateOrder"><b>"Create Order"</b></a> if you are a Waiter.
<br />
Select Menu <a href="OrderQueue"><b>Order Queue"</b></a> if you are a Chef.
